<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
</head>

<body ng-app="TablesApp" ng-controller="TablesCtrl">
    <div th:replace="Fragments/Template :: logo"></div>
    <div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
    <div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div>
    <br/>
    <div class="contanier" style="padding-right: 15em; padding-left: 15em; margin-right: auto; margin-left: auto;" id="tableCurrent" ng-init="getAlerts()">
        <br/>
        <br/>
        <span><b>Search:</b></span> <input ng-model="f"></input>
        <br/>
        <br/>
        <table class="table table-hover">
            <thead>
            <tr style="white-space: nowrap">
                <th ng-click="sortBy('date')">Date
                    <span ng-show="sortType == 'date' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'date' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('type')">Type
                    <span ng-show="sortType == 'type' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'type' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('value')">Value
                    <span ng-show="sortType == 'value' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'value' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('threshold')">Threshold
                    <span ng-show="sortType == 'threshold' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'threshold' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('thrownby')">Thrown By
                    <span ng-show="sortType == 'thrownby' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'thrownby' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('status')">Status
                    <span ng-show="sortType == 'status' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'status' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in data | filter:f | orderBy:sortType:sortReverse:customComparator">
                <td id="date" ng-class="{'color-red': (d.status == 'NEW')}">{{d.date}}</td>
                <td id="type" ng-class="{'color-red': (d.status == 'NEW')}">{{d.type}}</td>
                <td id="value" ng-class="{'color-red': (d.status == 'NEW')}">{{d.value}}</td>
                <td id="threshold" ng-class="{'color-red': (d.status == 'NEW')}">{{d.threshold}}</td>
                <td id="thrownby" ng-class="{'color-red': (d.status == 'NEW')}">{{d.thrownby}}</td>
                <td id="status" ng-class="{'color-red': (d.status == 'NEW')}">{{d.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="Fragments/Modals :: QRListModal"></div>
    <div th:replace="Fragments/Modals :: QRModal"></div>
    <div th:replace="Fragments/Modals :: messageModal"></div>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>

<!-- <script type="text/javascript" src="../../static/js/feedback.js" th:src="@{/js/feedback.js}"></script> -->

</html>

<!-- ng-click="getURL(d.id, d.name, null, '../DetailedStrategicIndicators/CurrentTable', false)"> -->