<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
    <link rel="stylesheet" th:href="@{/css/products.css}" />
    <style>
        .Classifier, .Pattern {
            display: flex;
        }
        .list-group-item:hover {
            background-color: #efeff8;
        }
        #buttonsNewItem {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        @media (max-width: 1800px) {
            #buttonsNewItem {
                flex-direction: column;
                max-width: 250px;
                margin: auto;
            }
        }
    </style>
</head>

<body>
<div th:replace="Fragments/Template :: logo"></div>
<div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
<div th:replace="Fragments/TemplateDashboard :: navSubBarConfiguration"></div>

<div th:replace="Fragments/Template :: cookies"></div>
<br/>


<div id="CategoriesConfigView">
    <div id="CategoriesElementSelector">
        <div id="buttonsNewItem">
            <button onclick="newCategory()" class="btn btn-primary" style="font-size: 18px; margin-bottom: 12px">New Category</button>
        </div>
        <ul id="ElementList" class="list-group">
            <li id="SICategoriesButton" class="list-group-item category-element active">Strategic Indicators</li>
            <li id="FactorsCategoriesButton" class="list-group-item category-element" style="background-color: #ffffff; color: #000000;" >Factors
                <ul id="FactorList" class="list-group"></ul>
            </li>
            <li id="MetricsCategoriesButton" class="list-group-item category-element" style="background-color: #ffffff; color: #000000;">Metrics
                <ul id="MetricList" class="list-group" > </ul>
            </li>
        </ul>
    </div>
    <div id="Categories">
        <div id="MetricsForm" ></div>
        <div id="FactorsForm" ></div>
        <div id="SICategories" style="display: none">
            <h3>Strategic Indicator Categories</h3>
            <div id="tableSIdiv" class="table-editable">
                <table id="tableSI" class="table">
                    <tr>
                        <th>Name</th>
                        <th>Color</th>
                        <th></th>
                        <th>
                            <span class="table-addSI glyphicon glyphicon-plus"></span>
                        </th>
                    </tr>
                </table>
                <br/>
            </div>
            <div>
                <button class="btn btn-primary pull-right" id="saveSICategories" style="width: 5em">Save</button>
            </div>
        </div>
        <div id = "FactorsCategories" style="display: none">
            <h3>Quality Factors Categories</h3>
            <div id="tableQFdiv">
                <table id="tableQF" class="table">
                    <tr>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Upper Threshold (%)</th>
                        <th></th>
                        <th>
                            <span class="table-addQF glyphicon glyphicon-plus"></span>
                        </th>
                    </tr>
                </table>
            </div>
            <div>
                <button class="btn btn-primary pull-right" id="saveFactorCategories" style="width: 5em">Save</button>
            </div>
        </div>
        <div id = "MetricsCategories" style="display: none">
            <h3>Metrics Categories</h3>
            <div id="tableMetricsdiv">
                <table id="tableMetrics" class="table">
                    <tr>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Upper Threshold (%)</th>
                        <th></th>
                        <th>
                            <span class="table-addMetric glyphicon glyphicon-plus"></span>
                        </th>
                    </tr>
                </table>
            </div>
            <div>
                <button class="btn btn-primary pull-right" id="saveMetricCategories" style="width: 5em">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<script type="text/javascript" th:src="@{/js/configCategories.js}"></script>
</html>