<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: HistoricChartView"></th:block>
</head>
<body>
    <div th:replace="Fragments/Template :: logo"></div>
    <div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
    <div th:replace="Fragments/TemplateDashboard :: navSubBarAssessmentDashboard"></div>

    <div th:replace="Fragments/Template :: cookies"></div>
    <table style="width:100%">
        <tr>
            <td width="80%"><div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div></td>
            <td width="20%">
            </td>
        </tr>
    </table>
    <br/>
    <br/>
    <h1 id="title" align="center"></h1>
    <p th:replace="Fragments/TemplateDashboard :: navLinkMetrics"></p>

    <div class="btn-group" style="display: flex; justify-content: flex-end; margin-right: 15px; margin-top: 5px;">
        <div class="dropdown" style="display: inline-grid">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <span id="selectorDropdownText" class="text"> Selector </span>
                <span class="caret"></span>
            </button>
            <ul id="selectorDropdownItems" class="dropdown-menu dropdown-menu-left">
            </ul>
        </div>
    </div>

    <th:block th:replace="Fragments/TemplateDashboard :: HistoricChart"></th:block>

</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsHistoric"></th:block>
<script type="text/javascript" th:src="@{/js/parseDataMetricsHistorical.js}"></script>
<script type="text/javascript" th:src="@{/js/getDecisions.js}"></script>
<script type="text/javascript" th:src="@{/js/stackedLineChart.js}"></script>

</html>